* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(236, 204, 61);
	font-family: "Figtree", sans-serif;
}

.container {
	width: 40%;
	max-width: 35rem;
	min-width: 30rem;
	height: 90vh;
	margin: 1.5em auto;
	border: 1px solid rgb(53, 53, 53);
	border-radius: 20px;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 5px 5px 1px;
}

.box-img img {
	display: block;
	margin: 2em auto 1em auto;
	width: 90%;
	height: 90%;
	border-radius: 20px;
}
.box-learning {
	margin-left: 2em;
	margin-top: 2em;
	color: hsl(0, 0%, 7%);
}
.box-learning {
	display: inline-block;
}
.box-learning p {
	width: 6em;
	padding: 0.5em 1em 0.5em 1em;
	background-color: hsl(47, 88%, 63%);
	border-radius: 8px;
	font-size: 1.2em;
	font-weight: bold;
}
.box-learning h3 {
	font-weight: 500;
	margin-top: 1.5rem;
}
.box-learning h1 {
	margin-top: 1.5rem;
	font-weight: 800;
	font-size: 2em;
	transition-duration: 0.5s;
}
.box-learning h1:hover {
	color: hsl(47, 88%, 63%);
	cursor: pointer;
	transition-duration: 0.5s;
}
.content {
	display: inline-block;
	margin-left: 1em;
	margin-top: 0.5em;
	padding: 0.5em 1em 0.5em 0.5em;
	font-size: 1.5em;
	color: hsl(0, 0%, 42%);
}
.content p {
	line-height: 1.5;
}
.author {
	display: flex;
	align-items: center;
	margin-left: 1em;
	margin-top: 0.5em;
	padding: 0.5em 1em 0.5em 1em;
}
.author img {
	width: 55px;
	height: 55px;
}
.author p {
	margin-left: 1em;
	font-weight: bolder;
	font-size: 1.2em;
}
